<div class="container">
    <form action="">
        <div class="mb-3">
            <label for="searchReve" class="form-label">
                Search for Movie:
            </label>
            <input type="text" class="form-control" name="searchReve"/>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form> 
    <p>Searching for {{ searchTerm }}</p>

    {% for reve in reves %}
        <h2>{{ reve.title }}</h2>
        <h3>{{ reve.description }}</h3>
        <img src="{{ reve.image.url }}" alt="{{ reve.title }}">
        {% if reve.url %}
            <a href="{{ reve.url }}">Movie Link</a>
        {% endif %}
    {% endfor %}

    <br/>
</div>
